:root {
    --baselineStretch: 1.1;
    /* default contrast */
    --ac-light: #36c;
    --fg-light: #52525b;
    --bg-light: #fff;
    --midtone: gray;
    --fg-dark: #a1a1aa;
    --bg-dark: #111;
    --ac-dark: #fa0;

    /* less contrast */
    --ac-light-less: var(--ac-light);
    --fg-light-less: #13253d;
    --bg-light-less: #e7e2e2;
    --midtone-less: #7d8490;
    --fg-dark-less: #e7e2e2;
    --bg-dark-less: #13253d;
    --ac-dark-less: var(--ac-dark);

    /* more contrast */
    --ac-light-more: var(--ac-light);
    --fg-light-more: #000;
    --bg-light-more: #fff;
    --midtone-more: gray;
    --fg-dark-more: #fff;
    --bg-dark-more: #000;
    --ac-dark-more: var(--ac-dark);
}

:lang(zh-CN) .rm {
    font-family: var(--rm), LXGW WenKai Lite, sans-serif;
}

h5, h6 {
    font-variant-caps: unset;
}

h6 {
    padding: 0.9em .5em 0 0;
}

code, pre>code {
    font-family: var(--tt), LXGW Bright Code, monospace;
}


:lang(zh-CN) .letterine>i {
    line-height: 4rem;
    font-size: 3em;
}

.carousel__viewport__slide .feed-item .par {
    --grd: linear-gradient(var(--off) 75%, transparent 100%);
    max-height: 12rem;
    padding-bottom: 1rem;
}

.chroma .lntd:first-child {
    background-color: var(--bg);
    position: sticky;
    left: 0;
}

.chroma .lntd:last-child {
    width: 100%;
}

.chroma > code,
.chroma .lntd:last-child code {
    width: 100%;
}

.chroma code .line {
    padding: 0 1ch;
}

.list-month>summary {
    list-style: revert;
}

.grain, #dwclock {
    display: none;
}

#has-l10n summary:after {
    position: relative;
    top: .1em;
    left: .43em;
    align-self: center;
    margin-left: auto;
    background: linear-gradient(to top, transparent 49%, var(--g18) 51%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font: 8pt base-ui;
    content: '\e913';
}

#has-l10n[open] summary:after {
    color: var(--fg);
}

#has-l10n summary:after {
    font-size: 0.8em;
}

#section #has-pagination {
    width: var(--golden-ratio);
    margin-top: 1in;
}

#comments>*, .giscus {
    width: inherit;
}

.column--multicols {
    display: flex;
    flex-flow: wrap;
    gap: var(--vfoot);
}

#main-footer-primary {
    flex-grow: 1;
}

#main-footer-secondary {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: space-between;
}

#menu-footer:first-child {
    width: 100%;
}

div+#menu-footer {
    padding: 0 2rem;
    margin: 0 auto;
}

div+#menu-footer, .column>div+div, .column__item+.column__item {
    margin-top: 0;
}

:root {
    --golden-ratio: 75%;
    --marginparwidth: 22vw;
    --void: calc((22vw - 1rem) / 2);
}

.marginpar {
    left: var(--marginparwidth);
}

#content p img {
    width: auto;
    max-width: calc(100% - var(--indent));
}

#content .marginpar img {
    max-width: 100%;
}

#content > .highlight,
#content > pre,
#content > table
{
    width: var(--golden-ratio);
}

#has-stage {
    align-items: start;
}

#series {
    margin-right: 2ch;
}

#series::after {
    content: "/";
    position: absolute;
    margin-left: 1ch;
}

#colophon>div {
    align-items: center;
}

#qr {
    padding: 2px;
    display: flex;
    border-radius: 8px;
    border: var(--border);
}

.verbose {
    font: var(--sf), sans-serif;
    font-size: 0.85em;
    user-select: none;
}

#has-share {
    display: none;
}

.form__input {
    flex: 1;
    border: none;
    border-radius: 2rem 0 0 2rem;
    background: none;
    padding: 0;
    padding-left: 1em;
    color: var(--fg);
    font-family: var(--sf), sans-serif;
}

.form__button {
    display: inline-flex;
    position: relative;
    border: none;
    border-radius: 0 50% 50% 0;
    background: none;
    padding: 0;
}

.giscus-frame {
    max-width: 800px;
    margin: 0 auto;
}
.giscus {
    display: flex;
    padding: var(--bigskip) var(--medskip);
    border-top: var(--bound);
}

body.focus .giscus {
    display: none;
}

@media only screen and (max-width: 640px) {
    :root {
        --golden-ratio: 100%;
        --marginparwidth: 100% !important;
    }

    #top-nav>nav .on-deck {
        justify-content: center;
    }

    #top-nav .icon {
        position: inherit;
        margin: 0 auto;
    }

    .marginpar-ctrl+label::before {
        cursor: pointer;
    }

    .marginpar-ctrl:checked+label+.marginpar {
        margin: 0.5em 0;
        padding: 1em 0 1em var(--indent);
        background-color: var(--g18s);
        border-radius: 6px;
    }

    .giscus {
        padding: var(--bigskip) 0;
        
    }
}

@media only screen and (min-width: 1440px) {
    :root {
        --golden-ratio: 75%;
        --void: calc((100vw - var(--max-width) - 1rem) / 2) !important;
        --marginparwidth: calc(var(--max-width) * 0.25) !important;
    }
}

@media print {
    .marginpar {
        right: 0;
        width: var(--marginparwidth);
    }

    .marginpar.abs {
        right: 0;
        width: var(--marginparwidth);
    }

    #contentinfo {
        display: flex;
        flex-direction: column;
        gap: var(--bigskip);
    }

    #colophon {
        width: auto;
    }

    #colophon>div {
        display: flex;
    }

    #qr {
        height: inherit;
    }

    .giscus {
        display: none;
    }

    #has-timeline .has-aria-label-top {
        margin: 5pt 10pt 0;
        display: inline-table;
    }
 
    #has-timeline>p {
        display: none;
    }

    .has-details ol {
        column-width: inherit;
    }

    #main-footer a::after {
        content: "";
    }

    #main-footer-secondary {
        display: none;
    }

    #body-footer {
        display: none !important;
    }
}