{{- $text := .Get "text" }}
{{- $tip := .Get "tip" }}
{{- $pre := .Get "pre" }}

<a id="randomBtn"
   href="#"
   style="position: relative;
          display: flex;
          width: fit-content;
          align-items: center;
          gap: var(--tiny);
          color: inherit;"
>
    {{- if $pre }}<i class="icon sri">{{ $pre }}</i>{{- end }}
    {{ $text | default "Feeling lucky" }}
    <span class="t" role="tooltip" style="--tsf: 0; width: -webkit-fill-available;">{{ or $tip $text | default "Feeling lucky" }}</span>
</a>
<script>
(function(){
  const btn = document.getElementById("randomBtn");
  if (!btn) return;
  btn.addEventListener("click", function(){
    fetch('/index.json')
      .then(res => res.json())
      .then(pages => {
        const list = Array.isArray(pages) ? pages : pages.nodes.filter((n)=>n.type === "post") || [];
        if (!list.length) return alert("没有找到文章");
        const page = list[Math.floor(Math.random() * list.length)];
        const url = page.permalink || page;
        window.location.href = url;
      })
      .catch(err => console.error(err));
  });
})();
</script>
